<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMvc_07_rest:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springMvc_07_rest_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springMvc_07_rest/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMvc_07_rest" />
        </element>
      </element>
    </root>
  </artifact>
</component>